.nav {
  display: flex;
  align-items: center;
  background-color: #202020;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 100;

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  &__logo {
    display: block;
    height: 30px;
  }

  &__user {
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    gap: 0.5rem;
    font-weight: bolder;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    fill: #fff;
    transition: all 0.2s;

    &:hover {
      opacity: 0.75;
    }

    & img {
      display: block;
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 50%;
    }

    & svg {
      width: 12px;
    }
  }

  &__settings {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    z-index: 10;
    display: flex;
    background-color: hsla(0, 0, 0, 0.5);
    z-index: 110;
    margin-top: 64px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 1rem;
    background-color: #fff;
    margin-left: auto;
    position: relative;
    font-weight: 500;
    gap: 0.5rem;
    animation: showSettings 0.3s;

    & a {
      display: block;
      text-decoration: none;
      color: #000;
      padding: 0.5rem 0;
      cursor: pointer;
    }

    & button {
      background-color: #fff;
      border: none;
      color: #ff4842;
      text-align: start;
      cursor: pointer;
    }

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-color: #fff;
      position: absolute;
      top: -0.5rem;
      right: 1rem;
      transform: rotate(50deg);
      z-index: -1;
      border-radius: 2px;
    }
  }

  @keyframes showSettings {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
